<section class="main-section">
  <section class="jumbotron office-tour-jumbotron">
    <div class="jumbotron-content-container">
      <span class="main-border"></span>
      <h1 class="jumbotron-header">Office Tour</h1>
      <span class="main-border"></span>
    </div>
  </section>

  <section class="office-tour-links">
    <h3>
      Coming soon! Our office is currently under construction. We will upload pictures of our beautiful renovation as soon as it is complete! 
    </h3>
    <h3 class="office-tour-links-header">Projects:</h3>
    <ul class="office-tour-links-list">
      <li>Outside</li>
      <li>Front Desk</li>
      <li>Waiting Room / Playroom</li>
      <li>Doctor Operatories</li>
      <li>Hygiene Rooms</li>
      <li>Sterilization Area</li>
      <li>Checkout</li>
    </ul>
  </section>
</section>

