<section class="main-section">
  <section class="jumbotron new-patient-jumbotron">
    <div class="jumbotron-content-container">
      <span class="main-border"></span>
      <h1 class="jumbotron-header">New Patient</h1>
      <span class="main-border"></span>
    </div>
  </section>
  

  <section class="welcome">
    <article class="welcome-letter">
      <h3 class="new-patient-section-header">Welcome to our practice!</h3>
      <p class="welcome-letter-p">
        It is the intention of this office to provide for your dental health as thoroughly and efficiently as possible. We believe service to our patients is at its best when there is a complete mutual understanding and cooperation. Therefore, we would like to acquaint you with customary sequence of procedures for the new patient in our practice. 
      </p>
      <ol class="welcome-letter-list">
        <li class="welcome-letter-list-item">The initial appointment is spent conducting a thorough examination. This includes a complete health history, a visual examination of the mouth tissue and teeth, and the necessary x-rays.</li>
        <li class="welcome-letter-list-item">From our study of the x-rays and the clinical findings, we will diagnose your case based on the conditions present in your mouth and recommend proper treatment.</li>
        <li class="welcome-letter-list-item">When the method of treatment is decided upon, we will either proceed or arrange future appointments so your dentistry can be completed as efficiently and as quickly as possible. Fees for the recommended services are outlined and payment or insurance co-payment is expected on the date of service unless arrangements are made in advance.</li>
        <li class="welcome-letter-list-item">The treatment room will be reserved for you at the time you specify as most convenient. If for some unforeseen reason you find it impossible to keep a scheduled appointment, please let us know at least 24 hours in advance so another patient may use the time that has been reserved for you. <u>There is a $45.00 charge for short notice cancellations or broken appointments. No subsequent appointments will be scheduled until the fee and been paid.</u></li>
        <li class="welcome-letter-list-item">Please fill out the below health and registration forms with an ink pen and bring it with you to your appointment. NOTE: <u>If you have an artificial heart valve or an artificial joint replacement please contact your physician prior to your appointment as you may need an antibiotic in order to receive any dental treatment.</u></li>
      </ol>
      
      <div class="welcome-letter-sig-block">
        <p>We look forward to meeting you and offering you the highest quality dental care,</p>
        <br>
        <p>Dr. Donna L. Rick, D.D.S., P.C.</p>
        <p>Dr. Chelsea L. Klipfel, D.D.S., P.L.L.C.</p>
        <img class="docs-img" src="../../../assets/images/docs.jpg">
      </div>
    </article>
    <hr>
    <section class="dl-forms-section-container">
      <h3 class="new-patient-section-header">Forms</h3>
      <div class="dl-forms-section">
        <div class="dl-forms adult-dl-forms">
          <h4>Adults 18 years and older.</h4>
          <a href="../../assets/downloads/downloads.pdf" target="_blank"><button class="forms-btn">Adult Forms</button></a>
        </div>
        <div class="dl-forms child-dl-forms">
          <h4>Children under 18.</h4>
          <a href="../../assets/downloads/downloads.pdf" target="_blank"><button class="forms-btn">Child Forms</button></a>
        </div>
      </div>
    </section>
  </section>
</section>