<section *ngIf="this.showPopUp === true">
  <aside>
    <div class="close-pop-up-container">
      <span class="btn--close-pop-up" (click)="closePopUp()">&#10005;</span>
    </div>
    <div class="aside-inner-container">
      <!-- <div class="img"></div> -->
      <img class="pop-up-image" src="../../../assets/images/invisalign.jpg" alt="image" width="325" height="265">
      <div class="pop-up-content">
        <h1>Moves so much more than just teeth!</h1>
        <div class="pop-up-content-info">
          <h4>Invisalign Special Event</h4>
          <h5>Wednesday, June 20th, 2018</h5>
          <h5>8am - 5pm</h5>
        </div>
        <p>Invisalign clear aligners are specifically designed to give you the smile you want without any of the lifestyle changes you don't.</p>
        <p>With unique advances such as SmartTrack<sup>&#174;</sup> material, Invisalign clear aligners can shape your smile more precisely and comfortably than ever before.<sup>1</sup> Now up to 2x faster.<sup>2</sup></p>
        <p>So what are you waiting for? Start moving toward the next amazing version of yourself.</p>
        <p>Ask Dr. Rick how Invisalign clear aligners can give you the smile you want, now up to 2x faster.<sup>2</sup> Schedule a consultation with Dr. Rick today.</p>
        <ul>
          <li>$500 off Invisalign Treatment</li>
          <li>Complimentary Teeth Whitening with Invisalign Treatment</li>
          <li>Financing options available</li>
        </ul>
  
        <p>Space is limited to the first 10 appointments <br><span class="pop-up-cta">Call (231) 865-6141 today to schedule your appointment</span></p>
  
        <p class="pop-up-content-disclaimer"><sup>1</sup>  When compares with clear aligners that are made of off-the-shelf, single-layer .030-inch material.</p>
        <p class="pop-up-content-disclaimer"><sup>2</sup>  With weekly aligner changes, compared with two-week aligner wear.</p>
      </div>
    </div>
  </aside>
</section>
