<footer>
  <div class="footer-content-container">
    <section class="footer-links footer-section">
      <h5 class="footer-section-header">Site Map</h5>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-list-item"><a class="footer-nav-list-item-link" routerLink="/">Home</a></li>
          <li class="footer-nav-list-item"><a class="footer-nav-list-item-link" routerLink="/services">Services</a></li>
          <li class="footer-nav-list-item"><a class="footer-nav-list-item-link" routerLink="/meet-the-staff">Staff</a></li>
          <li class="footer-nav-list-item"><a class="footer-nav-list-item-link" routerLink="/new-patient">New Patient</a></li>
          <li class="footer-nav-list-item"><a class="footer-nav-list-item-link" routerLink="/education">Education</a></li>
          <li class="footer-nav-list-item"><a class="footer-nav-list-item-link" routerLink="/office-tour">Office Tour</a></li>
        </ul>
      </nav>
    </section>
    <section class="footer-office-info footer-section">
      <h5 class="footer-section-header">Office Hours</h5>
      <div class="footer-office-info-container">
        <section class="footer-office-hours">
          <div class="hours">
            <p>Monday & Wednesday</p>
            <p>8 a.m. - 5 p.m.</p>
            <p>Lunch: 1 p.m. - 2 p.m.</p>
          </div>
          <div class="hours">
            <p>Tuesday & Thursday</p>
            <p>7 a.m. - 4 p.m.</p>
            <p>Lunch: 12 a.m. - 1 p.m.</p>
          </div>
          <div class="hours">
            <p>Closed</p>
            <p>Friday - Sunday</p>
          </div>
        </section>
      </div>
    </section>
    <section class="footer-office-location footer-section">
      <h5 class="footer-section-header">Contact</h5>
      <div class="phone-numbers">
        <p><fa class="footer-icon" name="phone"></fa><a class="phone-link" href="tel:1-231-865-6141">231.865.6141</a></p>
        <p><fa class="footer-icon" name="fax"></fa>231.865.6198</p>
      </div>
      <address>
        40 East Beech Street<br>
        Fruitport, MI 49415
      </address>
      <iframe 
        class="footer-map" 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5987.3644906930185!2d-86.15884478682324!3d43.12931654511967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x881978955b59f0dd%3A0x34c5945b6be6417b!2s40+E+Beech+St%2C+Fruitport%2C+MI+49415!5e0!3m2!1sen!2sus!4v1511544508381" 
        frameborder="0" allowfullscreen>
      </iframe>
    </section>

  </div>
</footer>