@import '../../../assets/scss/variables',
        '../../../assets/scss/extensions',
        '../../../assets/scss/main-classes';

.index-section-jumbotron {
  background: {
    image: url('../../../assets/images/chair.jpg');
    position: center;
    size: cover;
  }
}

.docs-name {
  margin-top: .5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.diamond {
  margin: 0 1rem;
}

@media screen and (max-width: $main-break-point) {
  .diamond {
    display: none;
  }

  .docs-name {
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .docs-name {
    font-size: .75rem;
  }
}