<section class="main-section">
  <section class="jumbotron index-section-jumbotron">
    <div class="jumbotron-content-container">
      <div>
        <span class="main-border"></span>
        <h1 class="jumbotron-header">Fruitport Family Dentistry</h1>
        <span class="main-border"></span>
        <div class="docs-name">
          <h4 class="doc-name">Dr. Donna L. Rick, D.D.S., P.C.</h4>
          <span class="diamond">&#9670;</span>
          <h4 class="doc-name">Dr. Chelsea L. Klipfel, D.D.S., P.L.L.C.</h4>
        </div>
      </div>
    </div>
  </section>

  <!-- other content -->
</section>