<section class="main-section">
  <section class="jumbotron services-section-jumbotron">
    <div class="jumbotron-content-container">
      <span class="main-border"></span>
      <h1 class="jumbotron-header">Services</h1>
      <span class="main-border"></span>
    </div>
  </section>

  <section class="services-links">
    <h3 class="services-links-header">Services:</h3>
    <ul class="services-links-list">
      <li>Initial Exam</li>
      <li>Oral Cancer Screenings / Routine Exams</li>
      <li>Digital X-Rays: Periapicals, Bitewings, Panoramic</li>
      <li>Periodontal Treatment / Cleanings</li>
      <li>Fillings - Amalgam (Silver) and Composite (Tooth-Colored)</li>
      <li>Crowns and Bridges</li>
      <li>Veneers</li>
      <li>Whitening</li>
      <li>Implants</li>
      <li>Cosmetic Fillings</li>
      <li>Sealants</li>
      <li>Partial Dentures - Conventional and Tissue-Colored</li>
      <li>Dentures Conventional and Implant-Retained</li>
      <li>TMD / Bitesplints</li>
      <li>Sleep Apnea Oral Appliances</li>
      <li>Retainers</li>
      <li>Mouth Guards</li>
      <li>Nitrous Oxide Sedation</li>
      <li>Invisalign</li>
      <li>Pediatric Dentistry</li>
    </ul>
  </section>
</section>
