<section class="main-section">
  <section class="jumbotron education-section-jumbotron">
    <div class="jumbotron-content-container">
      <span class="main-border"></span>
      <h1 class="jumbotron-header">Education</h1>
      <span class="main-border"></span>
    </div>
  </section>
  
  <section class="education-main-section">
    <section class="education-links">
      <h3 class="education-links-header">External Resources:</h3>
      <ul class="education-links-list">
        <li><a class="education-link-list-item" href="http://www.ada.org/en" target="_blank">American Dental Association (ADA)</a></li>
        <li><a class="education-link-list-item" href="https://www.ama-assn.org/" target="_blank">American Medical Association (AMA)</a></li>
        <li><a class="education-link-list-item" href="http://www.aae.org/" target="_blank">American Association of Endodontists (AAE)</a></li>
        <li><a class="education-link-list-item" href="http://peri.org/" target="_blank">Pharmaceutical Education & Research Institute (PERI)</a></li>
        <li><a class="education-link-list-item" href="https://www.aaoinfo.org/" target="_blank">American Association of Orthodontists (AAO)</a></li>
        <li><a class="education-link-list-item" href="https://www.aaoms.org/" target="_blank">American Association of Oral and Maxillofacial Surgeons (AAOMS)</a></li>
      </ul>
    </section>

    <section class="disclaimer">
      <h3 class="education-links-header">Disclaimer:</h3>
      <p>This website is provided for information and education purposes only. No doctor/patient relationship is established by your use of this site. No diagnosis or treatment is being provided. The information contained here should be used in consultation with an dentist of your choice. No guarantees or warranties are made regarding any of the information contained within this website. This website is not intended to offer specific medical, dental or surgical advice to anyone.</p>
    </section>
  </section>
</section>